@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Exo+2:ital,wght@1,500&family=Press+Start+2P&display=swap');

.title {
    font-family: 'Caveat';
    font-size: 50px;
}

.wordlist-wrapper {
    overflow: scroll;
    height: 500px;
}

.wordlist-wrapper::-webkit-scrollbar {
    display: none;
}

.button {
    font-family: 'Caveat';
    font-size: 30px;
    padding: 20px 22px 20px 20px;
    border-radius: 50%;
    text-align: center;
    margin-top: 30px;
}

.containerWrapper {
    background-color: lightgray;
}


.start-btn{
    font-family: 'Press Start 2p';
    text-align: center;
    display: inline-block;
    margin:20px;
    font-weight: bold;
    padding: 10px 5px 10px 10px ;
    background-color: rgba(211, 211, 211, 0.7);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: .2em .2em gray;
    cursor: pointer;
    font-size: 20px;

}
.start-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

